ion-select {
  color: white;
  background-color: #272B2F;
}

.form-title {
  color: #ffffff;
  background-color: #272B2F;
  text-align: center;
  padding: 20px 0 20px 0;
  font-weight: bold;
  border-radius: 10px;
}

form {
  margin-top: 45px;
}

ion-item {
  --border-color: var(--ion-text-color);
}

.form-title-block {
  margin-top: 120px;
  border-radius: 10px;
  background-color: #272B2F;
}
.form-input-block {
  border-radius: 10px;
  background-color: #272B2F;
  padding: 10px 0 10px 0;
}

ion-input {
  --ion-color-my-custom-color: #272B2F;
}

.form-button {
  font-weight: bold;
  padding: 0 15px;
  width: fit-content;
  border-radius: 10px;
}

.form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-button {
  --background: #5865F2;
  --background-hover: #4E5AD9;
  --background-activated: #5764F2;
  --background-focused: #292F73;
  --color: rgb(255, 255, 255);
  --ripple-color: rgb(141, 138, 140);
  --padding-top: 10px;
  --padding-bottom: 10px;

  background-color: var(--background);
  color: var(--color);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  &:hover {
    background-color: var(--background-hover);
  }

  &:active {
    background-color: var(--background-activated);
  }

  &:focus {
    background-color: var(--background-focused);
  }

  .button-effect {
    background-color: var(--ripple-color);
  }
}
.validateInformation {
  --background: transparent;
  --backdrop-opacity: 0;
}


.grid-item
{
  border-radius: 10px;
  background-color: #272B2F;
  padding: 10px -5px 10px -5px;
  --ion-color-my-custom-color: #272B2F;
}

/* Put this code in your CSS file */

/* The div container */
.qrcodeImage {
  display: flex;
  flex: 1;
}

/* Add custom styles here */
.center {
  display: flex;
  flex: 1;
  justify-content: center;
}


.qr-code-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
