<ion-content class="ion-padding">
  <ion-title>Hei {{accountService.user.firstname}} {{accountService.user.lastname}}</ion-title>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hei {{accountService.user.firstname}} {{accountService.user.lastname}}</ion-card-title>
      <ion-card-subtitle>Rolle: {{accountService.user.roleid}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
    <ion-title>Ditt utstyr</ion-title>


    <ion-title>Ditt leide utstyr</ion-title>

  </ion-card>
  <ion-item></ion-item>
  <ion-item></ion-item>
</ion-content>
