ion-fab-button {
  margin-bottom: 65px;
}


ion-icon {
  background-color: #1E2124;
}

button {
  background-color: #1E2124;
}

.clickable {
  pointer-events: auto !important;
  color: white;
  font-size:x-large;
  }


.menu-button {
  background-color: #1E2124;
  width: 35px;
  height: 35px;
}

.menu-icon {
  background-color: #1E2124;
  width: 35px;
  height: 35px;
}

::ng-deep {

  zxing-scanner {
    height: 100%;
    width: 100%;

  }

  video {
    height: 100% !important;
  }
}
