ion-fab-button {
  margin-bottom: 65px;
}

ion-title {
  padding-bottom: 1rem;
}
ion-icon {
  background-color: transparent;
}

button {
  background-color: transparent;
}

.clickable {
  pointer-events: auto !important;
  color: white;
  font-size:x-large;
  }


.menu-button {
  background-color: transparent;
  padding-top: 1.7em;
  width: 35px;
  height: 35px;
  display: flex;
  margin-left: 1rem;
}

.menu-icon {
  width: 35px;
  height: 35px;
}

::ng-deep {

  zxing-scanner {
    height: 100%;
    width: 100%;

  }

  video {
    height: 100% !important;
  }
}
.organizationNumber{
  font-size: 0.7em;
  text-align: center;
}
