
<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{accountService.organization.name}}</ion-title>
      <ion-menu-toggle>
        <button ion-button menuToggle end class="menu-button">
          <ion-icon class="menu-icon"src="../../../assets/icons/menu.svg"></ion-icon>
      </button>
    </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Meny</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item class="clickable ion-activatable">
          <button color="primary" ion-button size="large" [routerLink]="['/manageusers']"class="clickable ion-activatable">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            Legg til bruker
          </button>
        </ion-item>
          <ion-item class="clickable ion-activatable">
            <button color="primary" ion-button size="large" [routerLink]="['/manageorganization']"class="clickable ion-activatable">
              <ion-icon slot="start" name="briefcase-outline"></ion-icon>
              Organisasjon
            </button>
          </ion-item>
        <ion-item class="clickable ion-activatable">
          <button color="primary" ion-button size="large" [routerLink]="['/login']"class="clickable ion-activatable" (click)="this.accountService.logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            Logg ut
          </button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
<ion-item-group>
  <ion-item *ngIf="this.openQrCode">
  <zxing-scanner
  (scanSuccess) = "scanSuccessHandler($event)"
  (scanError)= "scanErrorHandler($event)"
  ></zxing-scanner>
</ion-item>
</ion-item-group>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="../../../assets/icons/box-search.svg"></ion-icon>
      Hjem
    </ion-tab-button>
    <ion-tab-button (click)="onOpenQrScanner()"color="secondary-contrast" tab="radio">
      <ion-icon color="tertiary" name="qr-code-outline"></ion-icon>
      Skanner
    </ion-tab-button>
    <ion-tab-button tab="manageequipment" >
      <ion-icon src="../../../assets/icons/add_equipment.svg"></ion-icon>
      Legg til utstyr
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-app>
