
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <button ion-button menuToggle end>
          <ion-icon name="menu" color="primary"></ion-icon>
      </button>
    </ion-menu-toggle>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Meny</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-button size="large">
            <ion-icon slot="start" name="briefcase-outline"></ion-icon>
            Organisasjon
          </ion-button>
        </ion-item>
        <ion-item>
          <button size="large" [routerLink]="['/manageequipment']" class="clickable ion-activatable">
            <ion-icon slot="start" name="qr-code-outline"></ion-icon>
            Endre / Registrer utstyr
          </button>
        </ion-item>
        <ion-item>
          <ion-button size="large">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            Registrer ny bruker
          </ion-button>
        </ion-item>
        <ion-item class="clickable ion-activatable">
          <button color="primary" ion-button size="large" [routerLink]="['/login']"class="clickable ion-activatable" (click)="this.accountService.logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            Logg ut
          </button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content class="ion-padding">
<main><router-outlet></router-outlet></main>

<ion-item-group>
  <ion-item *ngIf="this.openQrCode">
  <zxing-scanner
  (scanSuccess) = "scanSuccessHandler($event)"
  (scanError)= "scanErrorHandler($event)"
  ></zxing-scanner>
</ion-item>
</ion-item-group>

<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="../../../assets/icons/box-search.svg"></ion-icon>
      Hjem
    </ion-tab-button>
    <ion-tab-button (click)="onOpenQrScanner()"color="secondary-contrast" tab="radio">
      <ion-icon color="tertiary" name="qr-code-outline"></ion-icon>
      Skanner
    </ion-tab-button>
    <ion-tab-button tab="manageequipment" >
      <ion-icon src="../../../assets/icons/add_equipment.svg"></ion-icon>
      Legg til utstyr
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon color="success"name="search-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button>
      <ion-icon name="accessibility-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="cube-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
</ion-content>
