.button-content {
    display: flex;
    justify-content: left;
    padding-bottom: 0.75rem;
}

button.button-qr {
    font-size: 34px;
    height: 50px;
    background-color: transparent;
}

.status-container {
  color: var(--ion-color-tertiary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.status-message {
  margin-right: 10px;
}
