altgraph==0.17.2
apispec==6.0.2
asgiref==3.6.0
astroid==2.12.9
autopep8==1.7.0
bcrypt==4.0.1
click==8.1.3
colorama==0.4.5
dill==0.3.5.1
Flask==2.2.3
flak-cors==3.0.10
flask-apispec==0.11.4
Flask-SQLAlchemy==3.0.3
future==0.18.2
greenlet==1.1.3
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
lazy-object-proxy==1.7.1
MarkupSafe==2.1.2
marshmallow==3.19.0
mccabe==0.7.0
msgpack==1.0.4
neovim==0.3.1
packaging==23.0
parso==0.8.3
pefile==2022.5.30
platformdirs==2.5.2
pycodestyle==2.9.1
pylint==2.15.2
pywin32-ctypes==0.2.0
SQLAlchemy==2.0.4
sqlparse==0.4.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
typing_extensions==4.5.0
tzdata==2022.7
webargs==8.2.0
Werkzeug==2.2.3
wrapt==1.14.1
