<div *ngIf="token; else notoken">
  <ion-list>
    <ion-item>
      <ion-input placeholder="nytt passord" label="new password" type="password" />
    </ion-item>

    <ion-item>
      <ion-input placeholder="nytt passord" label="confirm new password" type="password" />
    </ion-item>
  </ion-list>
</div>

<ng-template #notoken>
  <div>
    <p>enter username or email</p>
    <ion-list>
      <ion-item>
        <ion-input placeholder="brukernavn" label="username" color="tertiery" type="text" />
      </ion-item>

      <ion-item>
        <ion-input placeholder="email" label="email" type="email" />
      </ion-item>
    </ion-list>

  </div>
</ng-template>
