<div *ngIf="token; else notoken">
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="new_password" placeholder="nytt passord" [clearInput]="true" type="password" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="new_password2" placeholder="nytt passord" [clearInput]="true" type="password" ngModel required></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="this.submitNewPassword()"size="large" color="secondary">confirm</ion-button>
</div>

<ng-template #notoken>
  <div class="main-container">
    <h1 clas="centered">Forgot password?</h1>
    <p class="centered faded">No problem! we'll send you reset instructions</p>
    <div>
      <ion-list>
        <ion-item>
          <ion-label>enter email:</ion-label>
          <ion-input [value]="email" type="text" />
        </ion-item>
      </ion-list>
    <ion-button (click)="this.submitForgotPassword()"size="large" color="tertiary">Reset password</ion-button>
    </div>

    <a class="go-back-link"[routerLink]="['/login']"><ion-icon name="arrow-back-outline"></ion-icon> Back to login</a>
  </div>
</ng-template>
