h1, h2, h3, p, label, a {
  color: white;
}

ion-button {
  width: 100%
}

div.main-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a.go-back-link {
  margin-top: 2em;
  font-weight: 200;
  text-decoration: none;
}

.faded {
  font-weight: 120;
}

.centered {
  text-align: center;
}
