<div *ngIf="token; else notoken">
  <ion-list>
    <ion-item>
      <ion-input placeholder="nytt passord" [value]="new_password" type="password" />
    </ion-item>

    <ion-item>
      <ion-input placeholder="nytt passord" [value]="new_password2" type="password" />
    </ion-item>
  </ion-list>
</div>

<ng-template #notoken>
  <div>
    <p>enter email</p>
    <ion-list>
      <ion-item>
        <ion-input placeholder="email" [value]="email" type="email" />
      </ion-item>
    </ion-list>

  </div>
</ng-template>
