<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmitNewUser()">
    <div class="form-title-block">
      <h2 class="form-title">Legg til ny bruker</h2>
    </div>

    <div class="form-input-block">
      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">Brukernavn:</ion-label>
        <ion-input [(ngModel)]="newUser.username" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">Pin:</ion-label>
        <ion-input [(ngModel)]="newUser.password" [clearInput]="true" type="password" ngModel required></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">Fornavn:</ion-label>
        <ion-input [(ngModel)]="newUser.firstname" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">Etternavn:</ion-label>
        <ion-input [(ngModel)]="newUser.lastname" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">Email:</ion-label>
        <ion-input  [(ngModel)]="newUser.email" type="email" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">Telefon nummer:</ion-label>
        <ion-input [(ngModel)]="newUser.phone" type="number" [clearInput]="true" ngModel required> </ion-input>
      </ion-item>

    <ion-item color="input-background">
      <ion-label>Fødselsdato:</ion-label>
      <ion-datetime-button slot="end" datetime="datetime"></ion-datetime-button>
      <ion-popover [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime locale="nb" [showDefaultTitle]="true" max="2023" min="1900" presentation="date" dayShortNames="Søn,Man,Tir,Ons,Tor,Fre,Lør" displayFormat="YYYY-MM-DD"[(ngModel)]="newUser.dateOfBirth" id="datetime"></ion-datetime>
        </ng-template>
        </ion-popover>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item class="form-item" class="grid-item" color="input-background">
              <ion-select interface="popover" placeholder="Velg Rolle">
                <ng-container>
                  <ion-select-option >Bruker</ion-select-option>
                  <ion-select-option >Utstyrsansvarlig</ion-select-option>
                  <ion-select-option >Admin</ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="form-item" class="grid-item" color="input-background">
              <ion-label>QR</ion-label>
              <ion-toggle color="success" [(ngModel)]="setDownloadQR" [enableOnOffLabels]="true" [checked]="true" slot="end"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

  </div>

  <div class="form-button-container">
    <ion-button class="form-button" color="register" (click)="validateInformation()">
      Registrer
    </ion-button>
  </div>

</form>
  <div class="qr-code-wrapper">
    <qrcode
    class="qr-code"
    #qrcode
    [qrdata]="newUser.username"
    [errorCorrectionLevel]="'M'"
    [elementType]="'canvas'"
    [allowEmptyString]="true">
    </qrcode>
    </div>
  </ion-content>
