ion-fab-button {
  margin-bottom: 65px;
}

ion-tab-button {
  --color-selected: #FFFF;
}

ion-icon {
  background-color: transparent;
}

button {
  background-color: transparent;
}

ion-title {
  text-align: center;
}

::ng-deep {

  zxing-scanner {
    height: 100%;
    width: 100%;

  }

  video {
    height: 100% !important;
  }
}

.clickable {
  pointer-events: auto !important;
  color: white;
  font-size:x-large;
  }

.menu-button {
  background-color: transparent;
  width: 35px;
  height: 35px;
  display: flex;
  margin-left: 1rem;
  margin-top: 10px;
}

.menu-icon {
  width: 35px;
  height: 35px;
}

.organizationNumber{
  font-size: 0.7em;
  text-align: center;
}

.main-content {
  margin-top: 90px;
}
