<ion-content class="ion-padding">
  <ion-item-group>
    <div class="form-title-block">
      <h2 class="form-title">Innstillinger</h2>
    </div>
    <ion-list>
      <ion-accordion-group expand="inset">
      <ion-accordion value="editOrganization">
        <ion-item slot="header">
        <ion-label class="accordion-title">Rediger organisasjon</ion-label>
      </ion-item>
        <div class="ion-padding accordion-description" slot="content">
          <form (ngSubmit)="onSubmitOrganizationChanges()">
            <div class="form-input-block">

              <ion-item class="form-item" color="input-background">
                <ion-label position="stacked"><p style="color: red">*</p>Navn:</ion-label>
                <ion-input [(ngModel)]="changesOrganization.name" ngModel required [clearInput]="true">{{this.accountService.organization?.name}}</ion-input>
              </ion-item>

              <ion-item class="form-item" color="input-background">
                <ion-label position="stacked">Organisasjonsnummer:</ion-label>
                <ion-input [(ngModel)]="changesOrganization.number"[clearInput]="true"></ion-input>
              </ion-item>

              <ion-item class="form-item" color="input-background">
                <ion-label position="stacked">Epost:</ion-label>
                <ion-input  [(ngModel)]="changesOrganization.email" type="email" [clearInput]="true" placeholder="Ingen epost satt">{{this.accountService.organization?.email}}</ion-input>
              </ion-item>

              <ion-item class="form-item" color="input-background">
                <ion-label position="stacked">Telefonnummer:</ion-label>
                <ion-input [(ngModel)]="changesOrganization.phone" type="number" [clearInput]="true" placeholder="Ingen telefonnummer satt">{{this.accountService.organization?.phone}}</ion-input>
              </ion-item>

              <ion-item class="form-item" color="input-background">
                <ion-label position="stacked">Postnummer:</ion-label>
                <ion-input [(ngModel)]="changesOrganization.postalcode" type="number" [clearInput]="true" placeholder="Ingen postnummer satt">{{this.accountService.organization?.postalcode}}</ion-input>
              </ion-item>

              <ion-item class="form-item" color="input-background">
                <ion-label position="stacked">By:</ion-label>
                <ion-input [(ngModel)]="changesOrganization.city" type="number" [clearInput]="true" placeholder="Ingen by satt">{{this.accountService.organization?.city}} </ion-input>
              </ion-item>
          </div>
          <div class="form-button-container">
            <ion-button color="tertiary" class="form-button" (click)="validateInformation()">
              <div class="button-font">
              Lagre
            </div>
            </ion-button>
          </div>
        </form>
        </div>
      </ion-accordion>

      <ion-accordion>
        <ion-item slot="header">
          <ion-label class="accordion-title">Brukere</ion-label>
        </ion-item>
        <div slot="content">
          <ion-accordion-group expand="inset">
            <ion-accordion>
              <ion-item slot="header">
                <ion-label class="accordion-title">Lånetakere</ion-label>
              </ion-item>
                <div slot="content">
                  <ion-list>
                    <ng-container *ngIf="allUsers | async as users">
                    <ng-container *ngFor="let user of users | filterOnRoleId: 1">
                  <ion-card>
                    <ion-card-header><ion-card-title>{{user.firstname}} {{user.lastname}}</ion-card-title>
                      <ion-card-subtitle>Brukernavn: {{user.username}}</ion-card-subtitle>
                    </ion-card-header>
                    <div class="button-content">
                      <app-edit-button [href]="'/edituser'" [editButton]="true" [setFilterServiceId]="user.id"></app-edit-button>
                      <app-edit-button [deleteButton]="true" ></app-edit-button>
                      <download-qr
                      [data]="user.username.toString()"
                      [filename]="user.username ? user.username.toString() + '-qrcode.png' : ''"
                      />
                  </div>
                  </ion-card>
                </ng-container>
                </ng-container>
                </ion-list>
                </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header">
                <ion-label class="accordion-title">Utstyrsansvarlige</ion-label>
              </ion-item>
                <div slot="content">
                  <ion-list>
                    <ng-container *ngIf="allUsers | async as users">
                    <ng-container *ngFor="let user of users | filterOnRoleId: 2">
                  <ion-card>
                    <ion-card-header><ion-card-title>{{user.firstname}} {{user.lastname}}</ion-card-title>
                      <ion-card-subtitle>Brukernavn: {{user.username}}</ion-card-subtitle>
                    </ion-card-header>
                    <div class="button-content">
                      <app-edit-button [href]="'/edituser'" [editButton]="true" [setFilterServiceId]="user.id"></app-edit-button>
                      <app-edit-button [deleteButton]="true" ></app-edit-button>
                      <download-qr
                      [data]="user.username.toString()"
                      [filename]="user.username ? user.username.toString() + '-qrcode.png' : ''"
                      />
                  </div>
                  </ion-card>
                </ng-container>
                </ng-container>
                </ion-list>
                </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header">
                <ion-label class="accordion-title">Administratorere</ion-label>
              </ion-item>
                <div slot="content">
                  <ion-list>
                    <ng-container *ngIf="allUsers | async as users">
                    <ng-container *ngFor="let user of users | filterOnRoleId: 3">
                  <ion-card>
                    <ion-card-header><ion-card-title>{{user.firstname}} {{user.lastname}}</ion-card-title>
                      <ion-card-subtitle>Brukernavn: {{user.username}}</ion-card-subtitle>
                    </ion-card-header>
                    <div class="button-content">
                      <app-edit-button [href]="'/edituser'" [editButton]="true" [setFilterServiceId]="user.id"></app-edit-button>
                      <app-edit-button [deleteButton]="true" ></app-edit-button>
                      <download-qr
                      [data]="user.username.toString()"
                      [filename]="user.username ? user.username.toString() + '-qrcode.png' : ''"
                      />
                  </div>
                  </ion-card>
                </ng-container>
                </ng-container>
                </ion-list>
                </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header">
                <ion-label class="accordion-title">Leder</ion-label>
              </ion-item>
                <div slot="content">
                  <ion-list>
                    <ng-container *ngIf="allUsers | async as users">
                    <ng-container *ngFor="let user of users | filterOnRoleId: 4">
                  <ion-card>
                    <ion-card-header><ion-card-title>{{user.firstname}} {{user.lastname}}</ion-card-title>
                      <ion-card-subtitle>Brukernavn: {{user.username}}</ion-card-subtitle>
                    </ion-card-header>
                    <div class="button-content">
                      <app-edit-button [href]="'/edituser'" [editButton]="true" [setFilterServiceId]="user.id"></app-edit-button>
                      <app-edit-button [deleteButton]="true" ></app-edit-button>
                      <download-qr
                      [data]="user.username.toString()"
                      [filename]="user.username ? user.username.toString() + '-qrcode.png' : ''"
                      />
                  </div>
                  </ion-card>
                </ng-container>
                </ng-container>
                </ion-list>
                </div>
            </ion-accordion>
          </ion-accordion-group>
          <ion-button color="tertiary" expand="block" routerLink='/manageusers'><div class="button-font">Legg til ny bruker<ion-icon slot="end" name="add-circle-outline"></ion-icon></div></ion-button>
        </div>
      </ion-accordion>
      <ion-accordion>
        <ion-item slot="header">
        <ion-label class="accordion-title">Lokasjoner</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ng-container *ngFor="let location of locations | async">
            <ion-card>
              <ion-card-header>
                <ion-card-title class="location-name">{{location.name}}</ion-card-title>
                <ion-card-subtitle>{{location.description}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-toggle
                color="success"
                justify="start"
                labelPlacement="start"
                [enableOnOffLabels]="true"
                [checked]="location.active"
                (ionChange)="toggleLocationActive($event, location)"
                >Set aktiv</ion-toggle>
              </ion-card-content>
            </ion-card>
          </ng-container>

          <ion-button color="tertiary" expand="block" (click)="presentAlertPrompt()"><div class="button-font">Legg til Lokasjon<ion-icon slot="end" name="add-circle-outline"></ion-icon></div></ion-button>

        </ion-list>
      </div>
      </ion-accordion>
      <ion-accordion>
        <ion-item slot="header">
        <ion-label class="accordion-title">Tags</ion-label>
      </ion-item>
      <div slot="content">
        <div class="tag-container">
          <app-tag *ngFor="let tag of tags | async" name="{{tag.name}}" color="{{tag.color}}" [editable]="true" (click)="editTag(tag)"></app-tag>
        </div>
          <ion-button color="tertiary" class="add-tag-button"expand="block" routerLink='/addtag'><div class="button-font">Legg til Tag<ion-icon slot="end" name="add-circle-outline"></ion-icon></div></ion-button>
      </div>
      </ion-accordion>
    </ion-accordion-group>
    </ion-list>
  </ion-item-group>
  </ion-content>
