.form-title {
  color: #ffffff;
  background-color: #272B2F;
  text-align: center;
  padding: 20px 0 20px 0;
  font-weight: 500;
  border-radius: 10px;
}

.form-title-block {
  margin-top: 120px;
  border-radius: 10px;
  background-color: #272B2F;
}

.manage-location {
  font-weight: 400;
}

.tag-name {
  font-weight: 400;
}

ion-button {
  --background: var( --ion-color-tertiary);
}

