// Inspired by https://getbootstrap.com/docs/4.0/layout/overview/
// $breakpoint-phone-small: 360px;
// $breakpoint-phone: 480px;
// $breakpoint-tablet: 768px;
// $breakpoint-laptop: 1024px;
// $breakpoint-desktop: 1336px;
// $breakpoint-desktop-hd: 1600px;
// $breakpoint-desktop-fhd: 1920px;

// $breakpoints: (
//   tiny: 0,
//   phone-sm: $breakpoint-phone-small,
//   phone: $breakpoint-phone,
//   tablet: $breakpoint-tablet,
//   laptop: $breakpoint-laptop,
//   desktop: $breakpoint-desktop,
//   desktop-hd: $breakpoint-desktop-hd,
//   desktop-fhd: $breakpoint-desktop-fhd,
// );

$breakpoints: (
  tiny: 0,
  phone-sm: 360px,
  phone: 480px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1336px,
  desktop-hd: 1600px,
  desktop-fhd: 1920px,
);

@function breakpoint-next($name, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @if not $n {
    @error "breakpoint `#{$name}` not found in `#{$breakpoints}`";
  }
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name) {
  $max: map-get($breakpoints, $name);
  @return if($max and $max > 0, $max - 0.02, null);
}

@function breakpoint-infix($name) {
  @return if(breakpoint-min($name, $breakpoints) == null, '', '-#{$name}');
}

@mixin media-breakpoint-up($name) {
  $min: breakpoint-min($name);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name) {
  $max: breakpoint-max($name);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-between($lower, $upper) {
  $min: breakpoint-min($lower);
  $max: breakpoint-max($upper);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($lower) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($upper) {
      @content;
    }
  }
}

@mixin media-breakpoint-only($name) {
  $min: breakpoint-min($name);
  $next: breakpoint-next($name);
  $max: breakpoint-max($next);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($name) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($next) {
      @content;
    }
  }
}
