<ion-content class="ion-padding">
<ion-item-group style="margin-top: 75px"
    *ngIf="{
      equipments: equipments | async,
      locations: locations | async
    } as observables"
>
  <ion-list>
  <ion-item>
    <ion-select
      aria-label="tag filter"
      (ionChange)="handleTagFilterChange($event)"
      placeholder="Velg tag" [multiple]="true">
      <ion-select-option
        *ngFor="let tag of tags | async"
        value="tag">
        {{tag.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
  <ion-list>
    <ion-accordion-group expand="inset" *ngFor="let equipment of observables.equipments">
    <ion-accordion value="{{equipment.name}}">
      <ion-item slot="header">
      <ion-label class="accordion-title">{{equipment.name}}</ion-label>
    </ion-item>
      <div class="ion-padding accordion-description" slot="content">
        <app-tag *ngFor="let tag of equipment.tags" name="{{tag.name}}" color="{{tag.color}}"></app-tag>
        <p>Lokasjon: {{getLocationForEquipment(equipment.locationid, observables.locations)?.name || "Ingen satt lokasjon"}}</p>
        <div style="display: flex;">
        <p>Status:  </p><p *ngIf="this.equipment.active" class="accordion-active-equipment">Aktiv</p>
        <p *ngIf="!this.equipment.active" class="accordion-inactive-equipment">Inaktiv</p>
        </div>
        <p *ngIf="this.equipment.serialnumber != 'string'">Serienummer:{{equipment.serialnumber}}</p>
        <p>Beskrivelse:</p><p>{{equipment.description}}</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  </ion-list>
</ion-item-group>
</ion-content>
