<ion-content class="ion-padding">
  <div *ngIf="loading" class="home-loading">
    <ion-spinner></ion-spinner>
  </div>
<ion-item-group style="margin-top: 75px"
    *ngIf="{
      listedequipments: filteredEquipments | async,
      locations: locations | async
    } as observables"
>
  <ion-list>
  <ion-item>

    <ion-select
      aria-label="tag filter"
      (ionChange)="handleTagFilterChange($event)"
      color="success"
      placeholder="Velg tag" [multiple]="true">
      <ion-select-option
        color="success"
        *ngFor="let tag of tags | async"
        value="{{tag.id}}">
        {{tag.name}}
      </ion-select-option>
    </ion-select>

    <ion-searchbar
    (ionInput)= "handleSearchFilterChange($event)"
    value=""
    animated="true"
    placeholder="Søk"
    show-clear-button="always"
    clear-icon="trash-bin">
    </ion-searchbar>
    <ion-button (click)= "openFilter()">
      <ion-icon slot="icon-only" src="../../../../assets/icons/filter.svg"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
  <ion-list>
    <ion-accordion-group expand="inset" *ngFor="let equipment of observables.listedequipments">
      <app-equipment
      [equipment]="equipment"
      [isCurrentlyAvailable]=!rentedEquipmentIds.includes(equipment.id)
      [location]=getLocationForEquipment(equipment.locationid,observables.locations)
      ></app-equipment>
  </ion-accordion-group>
  </ion-list>
</ion-item-group>
</ion-content>
