<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmitNewTag()">
    <div class="form-title-block">
      <h2 class="form-title">Legg til ny tag</h2>
    </div>

    <div class="form-input-block">
      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">navn:</ion-label>
        <ion-input [(ngModel)]="newTag.name" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <div style="display:flex; align-items:center;padding:12px">
        <ion-chip style="font-weight: bold;"
        [style.background]="newTag.color + '7a'"
        [style.border]="'1px solid '+ newTag.color + 'ff'"
        [style.color]="newTag.color + 'ff'"
          >{{newTag.name?? newTag.name || "tag navn"}}
        </ion-chip>
        <ion-icon
          name="color-filter-outline"
          [(colorPicker)]="newTag.color"
          [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']" 
          [cpAlphaChannel]="'disabled'"
          />
      </div>
    </div>
</form>
  <div class="form-button-container">
    <ion-button class="form-button" color="register" (click)="submit()">
      Registrer
    </ion-button>
  </div>
</ion-content>

