.form-title-block {
  margin-top: 3rem;
  border-radius: 10px;
  background-color: #272B2F;
}

.form-title {
  color: #ffffff;
  background-color: #272B2F;
  text-align: center;
  padding: 20px 0 20px 0;
  font-weight: 500;
  border-radius: 10px;
}

.form-button {
    font-weight: 500;
    padding: 0 15px;
    width: fit-content;
    border-radius: 10px;
  }

.form-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-button {
    background-color: var( --ion-color-tertiary);
    --box-shadow: none;
  }