<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmitNewTag()">
    <div class="form-title-block">
      <h2 class="form-title">Legg til ny tag</h2>
    </div>

    <div class="form-input-block">
      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">navn:</ion-label>
        <ion-input [(ngModel)]="newTag.name" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <div style="display:flex; align-items:center;padding:12px">
        <app-tag name="{{newTag.name ?? newTag.name || 'ny tag'}}" color="{{newTag.color}}"></app-tag>
        <ion-icon
          name="color-filter-outline"
          [(colorPicker)]="newTag.color"
          [cpPresetColors]="presetcolors" 
          [cpAlphaChannel]="'disabled'"
          />
      </div>
    </div>
</form>
  <div class="form-button-container">
    <ion-button class="form-button" color="register" (click)="submit()">
      Registrer
    </ion-button>
  </div>
</ion-content>

