ion-select {
  color: white;
  background-color: #272B2F;
}

.form-title {
  color: #ffffff;
  background-color: #272B2F;
}

form {
  margin-top: 30px;
}

ion-item {
  --border-color: var(--ion-text-color);
}
