<ion-content class="ion-padding">
<form (ngSubmit)="onSubmitNewEquipment()">
  <h2 class="form-title">Legg til nytt utstyr</h2>
  <ion-item class="form-item">
    <ion-label position="floating">Navn:</ion-label>
    <ion-input [(ngModel)]="name" [clearInput]="true" ngModel required></ion-input>
  </ion-item>

  <ion-item class="form-item">
    <ion-label position="floating">Modell:</ion-label>
    <ion-input [(ngModel)]="model" [clearInput]="true" ngModel required></ion-input>
  </ion-item>

  <ion-item class="form-item">
    <ion-label position="floating">Beskrivelse:</ion-label>
    <ion-input [(ngModel)]="description" [clearInput]="true" ngModel required></ion-input>
  </ion-item>

  <ion-item class="form-item">
    <ion-label position="floating">Type:</ion-label>
    <ion-input  [(ngModel)]="type" [clearInput]="true" ngModel required></ion-input>
  </ion-item>

  <ion-item class="form-item">
    <ion-label position="floating">Serienummer:</ion-label>
    <ion-input [(ngModel)]="serialnumber" type="number" [clearInput]="true" ngModel required> </ion-input>
  </ion-item>

    <ion-item class="form-item">
      <ion-select interface="popover" placeholder="Velg lokasjon" [(ngModel)]="setlocation">
        <ng-container>
          <ion-select-option *ngFor="let location of locations | async" [value]="location.id"> {{location.name }}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>

    <ion-item class="form-item">
    <ion-label>Set aktiv</ion-label>
    <ion-toggle color="success" slot="end"></ion-toggle>
  </ion-item>

  <ion-button type="submit">
    Registrer
  </ion-button>
</form>
</ion-content>
