:host {
  display: flex;
  padding: var(--page-padding-narrow);

  h2 {
    margin-bottom: var(--space-sm);
  }

  .login-title {
    text-align: center;
    padding-bottom: var(--space-sm);
  }

  .login-form-grid {
    display: grid;
    padding-bottom: var(--space-sm);
    grid-template-columns: 1fr 30px;
    grid-template-rows: 1fr 1fr;


    .form-group {
      grid-column: 1;
    }

    .form-group-button {
      grid-column: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      background: none;


      button {

        background: url(../../../../assets/icons/login-button-icon.png);
        background-repeat: no-repeat;
        cursor:pointer;
        border:none;
        width:100px;
        height:100px;
      }
    }
  }

}
