<form class="register-rental-form">
  <ion-list>
    <ion-item class="form-item" class="grid-item" color="input-background">
      <ion-select interface="popover" placeholder="Hvilken bruker skal du registrere utstyret på?" [(ngModel)]="newRental.userid">
        <ng-container>
          <ion-select-option *ngFor="let user of selectUser | async" [value]="user.id">{{user.firstname}} {{user.lastname}} <br> {{user.email}} <br> +47{{user.phone}} </ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
  </ion-list>
  <button>Submit</button>
</form>
