<ion-content class="ion-padding">

  <form #f="ngForm" (ngSubmit)="onSubmitNewEquipment()">

    <div class="form-title-block">
      <h2 class="form-title">Legg til nytt utstyr</h2>
    </div>

    <div class="form-input-block">
      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">Navn:</ion-label>
        <ion-input
        [clearInput]="true"
        counter="true"
        counterFormatter="customCounterFormatter"
        [maxlength]="20"
        ngModel required
        [(ngModel)]="newEquipment.name"
        ></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">Modell:</ion-label>
        <ion-input [(ngModel)]="newEquipment.model" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">Type:</ion-label>
        <ion-input  [(ngModel)]="newEquipment.type" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">Serienummer:</ion-label>
        <ion-input [(ngModel)]="newEquipment.serialnumber" [clearInput]="true" ngModel required> </ion-input>
      </ion-item>

      <ion-item *ngIf="templateService.other1name" class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.other1name}}:</ion-label>
        <ion-input  [(ngModel)]="newEquipment.other1" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <ion-item *ngIf="templateService.other2name" class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.other2name}}:</ion-label>
        <ion-input  [(ngModel)]="newEquipment.other2" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <ion-item *ngIf="templateService.other3name" class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.other3name}}:</ion-label>
        <ion-input  [(ngModel)]="newEquipment.other3" [clearInput]="true" ngModel required></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-textarea [(ngModel)]="newEquipment.comment" placeholder="Kommentar/beskrivelse" [autoGrow]="true" value="">
        </ion-textarea>
      </ion-item>

          <ion-item class="form-item" class="grid-item" color="input-background">
            <ion-select interface="action-sheet" placeholder="Velg lokasjon" [(ngModel)]="newEquipment.locationid">
              <ng-container>
                <ion-select-option *ngFor="let location of locations | async" [value]="location.id">{{location.name}}</ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>

        </div>
    <div class="form-button-container">
      <ion-button class="form-button" color="register" (click)="validateInformation()">
        Registrer
      </ion-button>
    </div>
  </form>

  <div class="qr-code-wrapper">
    <qrcode
    class="qr-code"
    #qrcode
    [qrdata]="this.qrCodeId"
    [errorCorrectionLevel]="'M'"
    [elementType]="'canvas'"
    [allowEmptyString]="true">
    </qrcode>
  </div>
</ion-content>
