<ion-content class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="onSubmitNewEquipment()">

    <div class="form-title-block">
      <h2 class="form-title">Legg til nytt utstyr</h2>
    </div>

    <div class="form-input-block">
      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.template.equipName ?? "Navn"}}:</ion-label>
        <ion-input
        formControlName="name"
        name="name"
        [clearInput]="true"
        ngModel
        required
        [(ngModel)]="newEquipment.name"
        ></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.template.equipBrand ?? "Merke"}}:</ion-label>
        <ion-input
        formControlName="brand"
        name="brand"
        [clearInput]="true"
        ngModel
        required
        [(ngModel)]="newEquipment.brand"
        ></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.template.equipBrand ?? "Modell"}}:</ion-label>
        <ion-input
        formControlName="model"
        name="model"
        [clearInput]="true"
        ngModel
        required
        [(ngModel)]="newEquipment.model"
        ></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.template.equipType ?? "Type"}}:</ion-label>
        <ion-input
        formControlName="type"
        name="type"
        [clearInput]="true"
        ngModel
        required
        [(ngModel)]="newEquipment.type"
        ></ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.template.equipSerialnumber ?? "Serienummer"}}:</ion-label>
        <ion-input
        formControlName="serialnumber"
        name="serialnumber"
        [clearInput]="true"
        ngModel
        required
        [(ngModel)]="newEquipment.serialnumber"
        > </ion-input>
      </ion-item>

      <ion-item *ngIf="templateService.template.equipOther1" class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.template.equipOther1}}:</ion-label>
        <ion-input
        formControlName="other1"
        name="other1"
        [clearInput]="true"
        ngModel
        required
        [(ngModel)]="newEquipment.other1"
        >
        </ion-input>
      </ion-item>

      <ion-item *ngIf="templateService.template.equipOther2" class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.template.equipOther2}}:</ion-label>
        <ion-input
        formControlName="other2"
        name="other2"
        [clearInput]="true"
        ngModel
        required
        [(ngModel)]="newEquipment.other2"
        >
        </ion-input>
      </ion-item>

      <ion-item *ngIf="templateService.template.equipOther3" class="form-item" color="input-background">
        <ion-label position="floating">{{templateService.template.equipOther3}}:</ion-label>
        <ion-input
        formControlName="other3"
        name="other3"
        [clearInput]="true"
        ngModel
        required
        [(ngModel)]="newEquipment.other3"
        >
        </ion-input>
      </ion-item>

      <ion-item class="form-item" color="input-background">
        <ion-textarea
        [(ngModel)]="newEquipment.comment"
        placeholder="Kommentar/beskrivelse"
        [autoGrow]="true"
        value="">
        </ion-textarea>
      </ion-item>

      <ion-item class="form-item" class="grid-item" color="input-background">
        <ion-label>Lokasjon:</ion-label>
        <ion-select interface="popover" placeholder="Velg lokasjon" name="locationid" [(ngModel)]="newEquipment.locationid">
          <ng-container>
            <ion-select-option *ngFor="let location of locations | async" [value]="location.id">{{location.name}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>

        </div>
    <div class="form-button-container">
      <ion-button [disabled]="form.controls.name.invalid" class="form-button" color="register" (click)="validateInformation()">
        Registrer
      </ion-button>
    </div>
  </form>

</ion-content>
