
.login-title {
  text-align: center;
  font-size: xx-large;
  margin-top: 30px;
  margin-bottom: 20px;
}

.login-subtitle {
  text-align: center;
  font-size: large;
  margin: auto;
}
a {
  color: blue;
}

ion-icon { zoom: 2.5 }

ion-button {
  padding-top: 15px;
  height: 75px;
  width:auto;
}


ion-input {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.login-body {
  padding-top: 10px;

}

ion-toolbar {
  padding-top: 74px;
  padding-bottom: 85px;
}

zxing-scanner {
  width:100vw;
  height:100vh;
  overflow:auto;
  position: fixed;
}
.login-main {
  margin-top: 10rem;
}
