
<ion-content>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-menu-toggle>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-menu-toggle>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Innstillinger</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item *ngIf="this.user.roleid > 2">
            <ion-button size="large">
              <ion-icon slot="start" name="star"></ion-icon>
              Endre brukere
            </ion-button>
          </ion-item>
          <ion-item  *ngIf="this.user.roleid > 2">
            <ion-button size="large">
              <ion-icon slot="start" name="qr-code-outline"></ion-icon>
              Ny QR kode
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-button size="large" class="clickable ion-activatable" (click)="logout()">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              Logg ut
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-content class="ion-padding">

  <ion-accordion-group *ngIf="this.user.roleid < 1">
    <ion-accordion value="first">
      <ion-item slot="header" color="secondary">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        First Content
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="secondary">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="secondary">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
  </ion-accordion-group>

    </ion-content>
  </div>

  <ion-item-group>
    <ion-item *ngIf="this.openQrCode">
      <zxing-scanner
    (scanSuccess) = "scanSuccessHandler($event)"
    (scanError)= "scanErrorHandler($event)"
></zxing-scanner>
  </ion-item>
  </ion-item-group>

  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="">
        <ion-icon src="../../../assets/icons/box-search.svg"></ion-icon>
        Inventar
      </ion-tab-button>
      <ion-tab-button (click)="onOpenQrScanner()"color="secondary-contrast" tab="radio">
        <ion-icon color="tertiary" name="qr-code-outline"></ion-icon>
        skanner
      </ion-tab-button>
      <ion-tab-button (click)="logout()" tab="login">
        <ion-icon color="secondary-contrast" name="person-outline"></ion-icon>
        Brukere
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon color="success"name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
