ion-fab-button {
  margin-bottom: 65px;
}

ion-tab-bar {
  padding-top: 10px;
}

ion-tab-button {
  color: white;
}

button {
  background-color: #1E2124;
}

ion-card {
  background-color: #272B2F;
}




ion-card-header { position: relative }
.center-right{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}


.card {
  color: white;

  .card-title {
    text-align: center;
    color: white;
  }

  .card-description {
    text-align: left;

  }




}


