ion-fab-button {
  margin-bottom: 65px;
}

ion-tab-bar {
  padding-top: 10px;
}

ion-tab-button {
  color: white;
}


.homescreen-title {
text-align: end;
vertical-align: middle;
font-size: larger;
padding: none;
}

  .clickable {
    pointer-events: auto !important;
    }

.class-title {
  color: white;
}

.class-subtitle {
  color: white;
}
