<ion-content class="ion-padding">
  <div class="form-title-block">
    <h2 class="form-title">Retur av utleie</h2>
  </div>

  <form #f="ngForm" class="register-rental" (ngSubmit)="onReturnRental()">

    <ion-card>
      <ion-card-header>
      <ion-card-subtitle>Retur av:</ion-card-subtitle>
        <ion-card-title>{{this.equipmentName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <app-tag
      *ngFor="let tag of this.equipmentTags" name="{{tag.name}}" color="{{tag.color}}">
      </app-tag>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
      <ion-card-subtitle>Lånetaker:</ion-card-subtitle>
        <ion-card-title>{{this.selectUser.firstname}} {{this.selectUser.lastname}}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-item class="form-item" class="grid-item" color="input-background">
      <ion-label>Velg retur lokasjon</ion-label>
      <ion-select label-placement="floating" placeholder="Lokasjon" [(ngModel)]="setLocationId" >
        <ion-label>Til lokasjon</ion-label>
        <ng-container>
          <ion-select-option *ngFor="let location of locations | async" [value]="location.id">{{location.name}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>

    <div class="form-button-container">
      <ion-button class="form-button" color="register" (click)="onReturnRental()">
        Returner
      </ion-button>
    </div>
</form>
</ion-content>
