<ion-content class="ion-padding">
  <div class="form-title-block">
    <h2 class="form-title">Retur av utleie</h2>
  </div>

  <form #f="ngForm" class="register-rental" (ngSubmit)="onReturnRental()">

    <ion-card>
      <ion-card-header>
      <ion-card-subtitle>Retur av:</ion-card-subtitle>
        <ion-card-title>{{this.equipmentName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <ion-text>{{this.equipmentDescription}}</ion-text>
      <app-tag
      *ngFor="let tag of this.equipmentTags" name="{{tag.name}}" color="{{tag.color}}">
      </app-tag>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
      <ion-card-subtitle>Lånetaker:</ion-card-subtitle>
        <ion-card-title>{{this.selectUser.firstname}} {{this.selectUser.lastname}}</ion-card-title>
        <ion-card-content>
          <ion-avatar>
            <ion-icon color="tertiary" name="person-circle-outline"></ion-icon>
            <ion-label>Test</ion-label>
          </ion-avatar>
        </ion-card-content>
      </ion-card-header>
    </ion-card>

  <ion-item color="input-background">
    <ion-label>Innleveringsdato</ion-label>
    <ion-datetime-button slot="end" datetime="datetime2"></ion-datetime-button>
    <ion-popover [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
        locale="nb" [showDefaultTitle]="true" min="2023" max="2100" presentation="date" dayShortNames="Søn,Man,Tir,Ons,Tor,Fre,Lør" displayFormat="YYYY-MM-DD"[(ngModel)]="selectedRental.rentedValidToDate" id="datetime2">
        <span slot="title">Velg Dato</span>
      </ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>

  <ion-item class="form-item" class="grid-item" color="input-background">
    <ion-label>Velg retur lokasjon</ion-label>
    <ion-select label-placement="floating" placeholder="Lokasjon" [(ngModel)]="setLocationId" >
      <ion-label>Til lokasjon</ion-label>
      <ng-container>
        <ion-select-option *ngFor="let location of locations | async" [value]="location.id">{{location.name}}</ion-select-option>
      </ng-container>
    </ion-select>
  </ion-item>

  <div class="form-button-container">
    <ion-button class="form-button" color="register" (click)="onReturnRental()">
      Returner
    </ion-button>
  </div>
</form>
</ion-content>
