$breakpoint-phone-small: 360px;
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1336px;
$breakpoint-desktop-hd: 1600px;
$breakpoint-desktop-fhd: 1920px;

$breakpoints: (
  tiny: 0,
  phone-sm: $breakpoint-phone-small,
  phone: $breakpoint-phone,
  tablet: $breakpoint-tablet,
  laptop: $breakpoint-laptop,
  desktop: $breakpoint-desktop,
  desktop-hd: $breakpoint-desktop-hd,
  desktop-fhd: $breakpoint-desktop-fhd,
);
