/*@font-face {
  font-family: 'Beatrice';
  src: url('../../src/assets/fonts/Beatrice-Regular.eot');
  src: url('../../src/assets/fonts/Beatrice-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../src/assets/fonts/Beatrice-Regular.woff') format('woff'),
    url('../../src/assets/fonts/Beatrice-Regular.woff2') format('woff2');
  // url('../../static/fonts/Beatrice-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Beatrice';
  src: url('../../src/assets/fonts/Beatrice-Semibold.eot');
  src: url('../../src/assets/fonts/Beatrice-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../../src/assets/fonts/Beatrice-Semibold.woff') format('woff'),
    url('../../src/assets/fonts/Beatrice-Semibold.woff2') format('woff2');
  // url('../../static/fonts/Beatrice-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
*/
