:root {

  //universal

  --palette-green: hsl(105, 100%, 64%);
  --palette-orange: hsl(14, 100%, 57%);

  // darkmode
  --palette-dark-primary: hsl(210, 9%, 13%);
  --palette-dark-secondary: hsl(214, 5%, 27%);
  --palette-dark-font: hsl(0, 100%, 100%);

  // lightmode WIP
  --palette-light-primary: hsl(230, 100%, 34%);
  --palette-light-secondary: hsl(225, 97%, 21%);
  --palette-light-font: hsla(225, 97%, 31%, 0.1);


}

