@import 'mixins/breakpoints';

@function pow($base, $scale, $exponent) {
  $raised: $base;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $raised: calc($raised * $scale);
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $raised: calc($raised / $scale);
    }
  }

  @return $raised;
}

@function hPadding($width, $padding) {
  @return calc((100% - $width + $padding) / 2);
}

:root {
  // PAGE
  // --safe-area-inset-top: env(safe-area-inset-top);
  // --safe-area-inset-right: env(safe-area-inset-right);
  // --safe-area-inset-bottom: env(safe-area-inset-bottom);
  // --safe-area-inset-left: env(safe-area-inset-left);

  --header-width: 1064px;
  --page-width: 1000px;
  --page-width-content: 940px;
  --page-width-narrow: 768px;
  --page-content-height: calc(100vh - 88px);
  --menu-width: 900px;

  --header-padding: var(--space-xxs) var(--space-ssm);
  --page-padding: var(--space-sm) var(--space-ssm) var(--space-xxl);
  --page-padding-full: var(--space-sm) var(--space-ssm) var(--space-xxl);
  --page-padding-narrow: var(--space-sm) var(--space-ssm) var(--space-xxl);

  --widget-padding: var(--space-xs);

  @include media-breakpoint-up(laptop) {
    --header-padding: var(--space-sm) #{hPadding(var(--header-width), var(--space-lg))};
    --page-padding: var(--space-xl) #{hPadding(var(--page-width-content), var(--space-lg))} var(--space-xl);
    --page-padding-full: var(--space-xl) #{hPadding(var(--page-width), var(--space-lg))} var(--space-xl);
    --page-padding-narrow: var(--space-xl) #{hPadding(var(--page-width-narrow), var(--space-lg))} var(--space-xl);
    --page-content-height: calc(100vh - var(--space-xxxl));
    // --widget-padding: var(--space-sm);
  }

  // BREAKPOINTS
  --tiny: 0;
  --phone-sm: 360px;
  --phone: 480px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1336px;
  --desktop-hd: 1600px;
  --desktop-fhd: 1920px;

  // SPACING
  --space-unit: 1rem; // 16px
  --space-xxxxs: calc(0.25 * var(--space-unit)); // 4px
  --space-xxxs: calc(0.5 * var(--space-unit)); // 8px
  --space-xxs: calc(0.75 * var(--space-unit)); // 12px
  --space-xs: calc(1 * var(--space-unit)); // 16px
  --space-sm: calc(1.5 * var(--space-unit)); // 24px
  --space-ssm: calc(1.25 * var(--space-unit)); // 20px
  --space-md: calc(2 * var(--space-unit)); // 32px
  --space-lg: calc(2.5 * var(--space-unit)); // 40px
  --space-xl: calc(3 * var(--space-unit)); // 48px
  --space-xxl: calc(4 * var(--space-unit)); // 64px
  --space-xxxl: calc(6 * var(--space-unit)); // 96px
  --space-xxxxl: calc(8 * var(--space-unit)); // 128px

  // TYPOGRAPHY
  // Inspired by: https://type-scale.com/
  --font-family-base: 'Beatrice', sans-serif;
  --font-weight-base: 400;
  --font-weight-bold: 600;
  // --text-base-size: 1.0625rem;
  --text-base-size: 1rem;
  --text-scale: 1.125;
  --text-line-height: 1.5;
  --text-line-height-heading: 1.5;

  --text-base: var(--text-base-size); // 17px
  --text-sm: #{pow(var(--text-base-size), var(--text-scale), -1)}; // 15.11px
  --text-xs: #{pow(var(--text-base-size), var(--text-scale), -2)}; // 13.43px
  --text-xxs: #{pow(var(--text-base-size), var(--text-scale), -3)}; // 11.94px
  --text-lg: #{pow(var(--text-base-size), var(--text-scale), 1)}; // 19.13px
  --text-xl: #{pow(var(--text-base-size), var(--text-scale), 2)}; // 21.52px
  --text-xxl: #{pow(var(--text-base-size), var(--text-scale), 3)}; // 24.21px
  --text-xxxl: #{pow(var(--text-base-size), var(--text-scale), 6)}; // 34.46px

  --text-page-title: #{pow(var(--text-base-size), var(--text-scale), 11)}; // 62.11px

  --line-height-xxs: var(--text-line-height);
  --line-height-xs: var(--text-line-height);
  --line-height-sm: var(--text-line-height);
  --line-height-base: var(--text-line-height);
  --line-height-lg: var(--text-line-height);
  --line-height-xl: var(--text-line-height-heading);
  --line-height-xxl: var(--text-line-height-heading);
  --line-height-xxxl: var(--text-line-height-heading);
  --line-height-page-title: var(--text-line-height-heading);

  // --text-xs: calc(var(--text-base-size) * 0.6875); // 11px
  // --text-sm: calc(var(--text-base-size) * 0.9375); // 15px
  // --text-base: calc(var(--text-base-size) * 1.0625); // 17px
  // --text-lg: calc(var(--text-base-size) * 1.1875); // 19px
  // --text-xl: calc(var(--text-base-size) * 1.25); // 20px
  // --text-xxl: calc(var(--text-base-size) * 1.5); // 24px

  // --line-height-xs: calc(var(--text-base-size) * 0.9375); // 15px
  // --line-height-sm: calc(var(--text-base-size) * 1.25); // 20px
  // --line-height-base: calc(var(--text-base-size) * 1.5625); // 25px
  // --line-height-lg: calc(var(--text-base-size) * 1.625); // 26px
  // --line-height-xl: calc(var(--text-base-size) * 1.75); // 28px
  // --line-height-xxl: calc(var(--text-base-size) * 2.25); // 36px

  // LAYERING
  --zindex-header: 1200;
  --zindex-backdrop: 1000;
  --zindex-modal: 1500;
}
