.edit-button {
    --border-color: var(--ion-color-medium);
    --border-style: solid;
    --border-width: 1px;
}
.edit-text-color {
    color: var(--ion-color-light);
}

.delete-button {
    --border-color: var(--ion-color-medium);
    --border-style: solid;
    --border-width: 1px;
}

.delete-text-color {
    color: var(--ion-color-danger);
}


