.delete-text-color {
    color: var(--ion-color-danger);
    border-color: var(--ion-color-light);
}

.edit-text-color {
    color: var(--ion-color-light);
    border-color: var(--ion-color-light);
}
